/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: var(--primary-color);
  font-weight: 400;
  letter-spacing: 8%;
}

:root {
  --primary-color: #0052CC;
  --secondary-color: #4a5568;
  --background-color: #f7fafc;
  --card-background: #ffffff;
  --text-color: #1a202c;
  --text-light: #718096;
  --border-color: #e2e8f0;
}